body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.headerlinks ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Use flexbox to arrange items in a row */
    gap: 10px; /* Add space between items */
}

.headerlogo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8
}


a {
    text-decoration: none;
    color: #E5E7EB;
}